<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>463645126803-qg5vfmac2om146tpdhv7fif8lvndt9g3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463645126803-qg5vfmac2om146tpdhv7fif8lvndt9g3</string>
	<key>API_KEY</key>
	<string>AIzaSyC_JvGLuFbbzGF6ZvFcsUQ-cyrfKdWC96s</string>
	<key>GCM_SENDER_ID</key>
	<string>463645126803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harry.grocery</string>
	<key>PROJECT_ID</key>
	<string>grocery-eb37b</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-eb37b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:463645126803:ios:9662f90024b5c0f5</string>
	<key>DATABASE_URL</key>
	<string>https://grocery-eb37b.firebaseio.com</string>
</dict>
</plist>